<div *ngIf="data.patient" class="patient-sm-data entity-detail">
  <div class="row border-bottom">
    <div class="col">
      <span class="sub-title">
        Autorizaciones del paciente
      </span>
    </div>
    <div class="col text-right pull-right">
      <button
        [disabled]="loading"
        class="btn btn-primary mb-2 btn-sm btn-app"
        (click)="newApproval()"
      ><em class="fas fa-plus-circle"></em> Nueva
      </button>
    </div>
  </div>
  <app-grid
    [paging]="data.approvals"
    [columnDefs]="columnDefs"
    [enablePageSizeChange]="true"
    (selectedEvent)="onApprovalSelected($event)"
  ></app-grid>
</div>
