<div class="row">
  <div class="col" *ngIf="enablePageSizeChange">
    <select (change)="setPageSize($event.target.value)" [ngClass]="{ active: pageSize == pag }">
        <option *ngFor="let pag of pageSizes">{{pag}}</option>
    </select>
  </div>
  <div class="col">
    <ul class="pagination pagination-sm" style="margin: 0px; Float: right;">
      <li class="disabled" *ngIf="rowsCount > 1">
        <span>&nbsp;Página: [{{ currentPage }}/{{ rowsCount }}]&nbsp;</span>
      </li>
      <li [ngClass]="{ disabled: currentPage == 1 || rowsCount == 0 }" *ngIf="rowsCount > 1">
        <a href="javascript:void(0);" (click)="prevPage()"><em class="fas fa-step-backward"></em></a>
      </li>
      <li *ngFor="let page of pagesIndex" [ngClass]="{ active: currentPage == page }">
        <a *ngIf="pages > 1" href="javascript:void(0);" (click)="setPage(page)">{{ page }}</a>
      </li>
      <li [ngClass]="{ disabled: currentPage == rowsCount || rowsCount == 0 }">
        <a href="javascript:void(0);" (click)="nextPage()" *ngIf="rowsCount > 1"
          ><em class="fas fa-step-forward"></em></a>
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive-sm">
  <table
    class="table table-sm table-striped table-bordered table-hover table-condensed small-top-margin">
    <thead>
      <tr>
        <th scope="col" *ngFor="let col of columnDefs" class="grid-header">
          <a (click)="sort(col.field)">{{ col.headerName }}</a>
        </th>
        <th scope="col" class="grid-header">{{ itemsCount }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rowData" class="grid-data">
        <td *ngFor="let col of columnDefs" class="grid-data">{{ row[col.field] }}</td>
        <td class="grid-data">
          <a href="javascript:void(0);" (click)="select(row)" title="Editar"><em class="far fa-edit"></em></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
