<div class="patient-sm-data entity-detail" *ngIf="data.patient">
  <form class="form-inline">
    <div class="form-group mb-2 label-with-space">
      <span class="form-label">Paciente:</span>
      <span>{{ data.patient.name }}</span>
    </div>
    <div class="form-group mb-2 label-with-space">
      <span class="form-label">Documento:</span>
      <span>{{ data.patient.nationalId }}</span>
    </div>
    <div class="form-group mb-2 label-with-space">
      <span class="form-label">Historia:</span>
      <strong>{{ data.patient.id }}-{{ data.patient.visit }}</strong>
    </div>
    <div class="form-group mb-2 label-with-space">
      <span class="form-label">Nacimiento:</span>
      <span>{{ data.patient.dateOfBirth }}</span>
    </div>
    <div class="form-group mb-2 label-with-space">
      <span class="form-label">Edad:</span>
      <span>{{ data.patient.age }}</span>
    </div>
    <div class="form-group mb-2 label-with-space">
      <span class="form-label">Dirección:</span>
      <span>
        {{ data.patient.address }},&nbsp;{{ data.patient.cityName }},&nbsp;{{ data.patient.stateName }}</span>
    </div>
    <div class="form-group mb-2 label-with-space">
      <span class="form-label">Teléfono:</span>
      <span>{{ data.patient.phoneNumber }}</span>
    </div>
  </form>
</div>
