@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select.custom .ng-control .ng-input .ng-option {
  text-transform: lowercase;
}

.form-group {
}

/* Start App Styles */
.page-title {
  font-size: 20px;
  font-weight: 700;
  color: #0e76bc !important;
  text-transform: uppercase;
  line-height: normal;
}
.sub-title {
  color: #f69165;
  font-size: 15px;
  font-weight: 600 !important;
}
.input-text {
  font-size: 13px;
  font-weight: 400;
}
.input-select {
  font-size: 12px !important;
  font-weight: normal;
}
.font-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #20262e;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}
.patient-sm-data {
  background: #fbf9f9;
}
.approval-list {
  padding-top: 20px;
}
.btn-app {
  font-family: 'Roboto', serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
/* End App Styles */
.btn {
  font-size: 14px;
}
.btn-default {
  font-family: "Roboto", serif;
  transition: all 0.27s ease-out;
  letter-spacing: 0.5px;
}
.btn-booking {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background: #0e76bc;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.main-nav-wrap {
  font-size: 13px;
  color: #8993a1;
  font-weight: 500;
  /*text-transform: uppercase;*/
  position: relative;
  cursor: pointer;
}
strong {
  font-weight: 500;
  color: #70737a;
  font-size: 14px;
}
label {
  font-size: 13px;
  color: #2268b5;
}
.form-subtitle {
  color: #70737a;
  font-size: 13px;
  margin-right: 10px;
  font-weight: 700;
}
.form-label {
  font-size: 13px;
  color: #2268b5;
  margin-right: 5px;
}
.label-with-space {
  margin-right: 20px;
}
.detail-data-1 {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 300;
}
.detail-data-2 {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 300;
}
.entity-card {
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}
.entity-detail {
  border: 1px solid #ccc;
  padding: 5px 15px;
}
.entity-info {
  border: 1px solid #09629D;
  padding: 5px 15px;
}
.entity-sub-detail {
  border: 1px solid #686868;
  padding: 5px 15px;
}
img.resize {
  max-width: 60%;
  max-height: 60%;
}
a.nav-link:hover {
  color: #f69165;
  font-weight: 700 !important;
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 99%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Roboto, Verdana, Geneva, sans-serif;
  text-align: inherit;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: #686868;
  font-size: 13px;
  opacity: 1;
  visibility: visible;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
}
/* Custom Grid
------------------------------------------------------------*/
.grid-title {
  background-color: #707579;
}
.grid-header {
  color: #ebeef3;
  background-color: #09629d;
  font-size: 13px;
  font-weight: 500;
  font-family: Roboto, Verdana, Geneva, sans-serif;
}
td.grid-data {
  font-size: 12px;
}
