<h2 class="header-title page-title font-title display-4 text-center">
  Autorizaciones
</h2>
<hr />
<div class="container-fluid">
  <div class="row">
    <app-approval-search></app-approval-search>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p><app-approval-patient></app-approval-patient></p>
      <p><app-approval-list></app-approval-list></p>
    </div>
    <div class="col-md-7">
      <app-approval-detail></app-approval-detail>
    </div>
  </div>
</div>
