<div *ngIf="data.isNew || data.isEdit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="entity-info entity-card">
      <div>
        <div class="row border-bottom">
          <div class="col">
            <span *ngIf="data.isNew" class="sub-title">Nueva Autorización</span>
            <span *ngIf="data.isEdit" class="sub-title">Editar Autorización</span>
          </div>
          <div class="col">
            <button *ngIf="data.isNew" class="btn btn-success mb-2 btn-sm btn-app">
              <em class="fas fa-save"></em> Crear
            </button>
            <button *ngIf="data.isEdit" class="btn btn-success mb-2 btn-sm btn-app">
              <em class="fas fa-edit"></em> Modificar
            </button>
            <span *ngIf="data.isEdit">
              &nbsp;
              <a href="javascript:void(0);" class="btn btn-danger mb-2 btn-sm btn-app" (click)="closeApprovalForm()"><em
                  class="fas fa-ban"></em> Anular</a></span>
            &nbsp;
            <a href="javascript:void(0);" class="btn btn-secondary mb-2 btn-sm btn-app"
              (click)="closeApprovalForm()"><em class="fas fa-window-close"></em> Cancelar</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Número autorización:
          <span class="badge badge-info" style="font-size: 15px;"
            *ngIf="data.patient && data.patient.approvalId">{{ data.patient.approvalId }}</span>
        </div>
        <div class="col">
          Historia:
          <strong>{{ data.patient.id }}-{{ data.patient.visit }}</strong>
        </div>
        <div class="col">Fecha: {{ data.patient.today }}</div>
        <div class="col">Hora: {{ data.patient.now }}</div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Entidad responsable de pago</label>
          <ng-select [items]="companies | async" bindLabel="name" bindValue="id" formControlName="companyId"
            (change)="onChangeCompany($event)" class="custom" placeholder="Empresa">
          </ng-select>
        </div>
        <div class="form-group col-md-3">
          <label>IPS Primaria</label>
          <ng-select [items]="headquarters" bindLabel="name" bindValue="id" class="custom"
            formControlName="headquarterId" placeholder="IPS">
          </ng-select>
        </div>
        <div class="form-group col-md-3">
          <label>Tipo autorización</label>
          <ng-select [items]="authorizations | async" bindLabel="name" bindValue="id" class="custom"
            formControlName="approvalType" placeholder="Tipo autorización">
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label>Diágnostico</label>
          <ng-select [items]="diagnoses | async" bindLabel="name" bindValue="id" class="custom"
            formControlName="diagnosisId" placeholder="Diagnóstico">
          </ng-select>
        </div>
      </div>
      <div class="row" [ngClass]="{
          'border-bottom': currentApproval && currentApproval.details
        }">
        <div class="form-group col-md-6">
          <label>Médico</label>
          <ng-select [items]="physicians | async" bindLabel="name" bindValue="id" class="custom" [virtualScroll]="true"
            formControlName="physicianId" placeholder="Médico">
          </ng-select>
        </div>
        <div class="form-group col-md-6">
          <label>Especialidad</label>
          <ng-select [items]="specialties | async" bindLabel="name" bindValue="id" class="custom" [virtualScroll]="true"
            formControlName="specialtyId" placeholder="Especialidad">
          </ng-select>
        </div>
      </div>
      <div class="row" *ngIf="data.currentApproval && data.currentApproval.details">
        <div class="col">
          <app-grid [rowData]="data.currentApproval.details" [itemsCount]="
              data.currentApproval.details
                ? data.currentApproval.details.length
                : 0
            " [columnDefs]="columnDefs" (selectedEvent)="onCupSelected($event)"></app-grid>
        </div>
      </div>
    </div>
  </form>
  <p style="height: 5px;">&nbsp;</p>
  <div class="entity-sub-detail entity-card" *ngIf="data.currentApproval.taxpayerId">
    <form [formGroup]="detailForm">
      <div class="row">
        <div class="form-group col-md-11">
          <span class="sub-title">CUPS</span>:&nbsp;
          <ng-select [items]="cups" bindLabel="name" bindValue="id" class="custom" formControlName="id"
            (change)="onChangeCup($event)" placeholder="Cups" [virtualScroll]="true">
          </ng-select>
        </div>
        <div class="form-group col-md-1">
          Cant.:&nbsp;
          <input type="text" class="input-text form-control" placeholder="0" style="margin-top: 2px;" formControlName="quantity" size="10" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="hidden" placeholder="Line" formControlName="line" />
          <input type="hidden" placeholder="parentId" formControlName="parentId" />
          <input type="hidden" placeholder="statusId" formControlName="statusId" />
          <input type="hidden" placeholder="statusName" formControlName="statusName" />
          <a href="javascript:void(0);" class="btn btn-outline-success mb-2 btn-sm btn-app" (click)="saveCups()"><em
              class="far fa-edit"></em> {{ okCupsLabel }} </a>&nbsp;
          <span *ngIf="(currentCup && currentCup.line)">
            <a href="javascript:void(0);" class="btn btn-outline-danger mb-2 btn-sm btn-app"
              (click)="deleteCupForm()"><em class="fas fa-minus-circle"></em> {{ deleteCupsLabel }}</a>&nbsp;
          </span>
          <a href="javascript:void(0);" class="btn btn-outline-secondary mb-2 btn-sm btn-app"
            (click)="cleanCupForm()"><em class="far fa-file"></em> Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
