<footer class="border-top footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col">&copy; CNSR - v.1.0.2 - b.190619</div>
      <div class="col" *ngIf="currentUser">
        {{ currentUser.firstName }} {{ currentUser.lastName }}
      </div>
      <div class="col" *ngIf="currentUser">
        <strong>{{ currentUser.username }}</strong>
      </div>
    </div>
  </div>
</footer>
